<section class="tab"data-tab="isometric">
  {{!-- Tab content here --}}
  <div class="isometric-config-tab-content">
    <!-- form fields, etc. -->
    <i class="fas fa-cube"></i>
    {{localize "isometric-perspective.tab_isometric_name"}}
    this tab works!
  </div>
</section>