<section class="tab {{#if tab.active}} active{{/if}}"data-tab="isometric" data-group="sheet">
  {{!-- Tab content here --}}
  <div class="isometric-config-tab-content">
    <!-- form fields, etc. -->
    this tab works!
    {{log this}}
  </div>
</section>