
.offset-point .form-fields {
    display: flex;
    gap: 0.5em;
}
.offset-point .axis {
    flex: 0 0 60px;
    line-height: var(--form-field-height);
    text-align: center;
    color: var(--color-text-dark-secondary);
}
.offset-point input {
    flex: 1;
}
.scale-slider {
    flex: 4;
}
.range-value {
    flex: 1;
    text-align: center;
    line-height: var(--form-field-height);
}

.fine-adjust{
    width: '30px';
    cursor: 'pointer';
    padding: '1px 5px';
    border: '1px solid #888';
    border-radius: '3px';
}